---
import Layout from "../layouts/Layout.astro";
import Modal from "../components/Modal.astro";
---

<Layout title="404 File Not Found - garpunkal.dev">
	<main>
		<Modal title="404" subTitle="File Not Found" url="/" urlTitle="Homepage" urlText="back to homepage" />
	</main>
</Layout>
