---
import Layout from "../layouts/Layout.astro";
import Modal from "../components/Modal.astro";
---
<Layout title="404 File Not Found - garpunkal.dev" header={false}>
	<section class="text-pale bg-mirage dark:text-iron body-font h-screen/3">
		<div class="container">
			<Modal title="404" subTitle="File Not Found" url="/" urlTitle="Homepage" urlText="back to homepage" />
		</div>
	</section>
</Layout>
