---
import { Home } from "../scripts/models/home";
import { Article } from "../scripts/models/article";
import ArticleItem from "./ArticleItem.astro";
import ArticleNano from "./ArticleNano.astro";
import Heading from "./Heading.astro";

interface Props {
	home: Home;
	articles: Article[];
}

const { home, articles } = Astro.props;
---

<section class="bg-mirage body-font" id="articles">
	<div class="container">
		<a
			class="w-full"
			href="https://dev.to/garpunkal"
			target="_blank"
			rel="noopener"
			title="Articles"
			aria-label="Articles"
		>
			<Heading title={home.articlesLabel}/>
		</a>
		<div class="flex flex-row flex-wrap -m-1 md:-m-2 pre-fade-in intersect:fade-in intersect-once">
			{
				articles.slice(0, 3).map((article: Article) => (
					<div class="flex flex-wrap w-full md:w-1/3 p-2">
						<ArticleItem article={article} cssClass="h-full rounded-lg bg-elephant dark:bg-elephant" />
					</div>
				))
			}
		</div>
		<div class="flex flex-row flex-wrap lg:mx-14 mt-6 pre-fade-in intersect:fade-in intersect-once">
			{
				articles.slice(3, 11).map((article: Article) => (
					<div class="flex flex-wrap w-full md:w-1/2 p-2">
						<ArticleNano article={article} />
					</div>
				))
			}
		</div>
	</div>
</section>
