---
interface Props {
	anchor: string;
}

const { anchor } = Astro.props;
---

<a href={"#" + anchor} title="scroll to projects" role="button" aria-label="scroll to projects" id="downArrow">
	<svg
		class="w-6 h-6 animate-bounce text-white dark:text-iron"
		fill="none"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-width="2"
		viewBox="0 0 24 24"
		stroke="currentColor"
		width="24px"
		height="100%"
		role="img"
		aria-labelledby="downArrow"
	>
		<path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
	</svg>
</a>
