---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "./Heading.astro";
import { Experience } from "../scripts/models/experience";
import { Home } from "../scripts/models/home";

interface Props {
	home: Home;
	experiences: Experience[];
}

const { home, experiences } = Astro.props;

const sortedExperiences = experiences
	.sort((n1, n2) => (n1.orderDate && n2.orderDate ? (n1.orderDate > n2.orderDate ? 1 : n1.orderDate < n2.orderDate ? -1 : 0) : 0))
	.reverse();
---
<section class="bg-mirage body-font" id="experiences">
	<div class="container">
		<Heading title={home?.experiencesLabel}/>
		
		<div class="flex flex-wrap -m-1 md:-m-2 justify-center">
			{
				sortedExperiences.map((experience: Experience) => (
					<div class="flex flex-wrap w-full md:w-1/2 lg:w-1/3 p-2 pre-fade-in intersect:fade-in intersect-once">
						<ExperienceItem experience={experience} />
					</div>
				))
			}
		</div>
	</div>
</section>
