---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<h3 class="w-full mt-8 mb-10 text-3xl font-extrabold tracking-tighter text-center md:text-left text-cool md:text-6xl dark:text-pale lg:mt-0 pre-fade-in intersect:fade-in intersect-once">
	{title}
</h3>