---
interface Props {
	tag: string;
}

const { tag } = Astro.props;
---

<div
	class="inline-flex items-center px-4 py-2 my-1 mr-1 text-xs font-medium text-mercury rounded bg-ocean dark:bg-mirage dark:text-mercury"
>
	<a
		href={"https://dev.to/t/" + tag}
		target="_blank"
		rel="noopener"
		title={tag}
		class="text-white dark:text-iron hover:text-mirage dark:hover:text-white"
		aria-label={tag}
	>
		{tag}
	</a>
</div>
