<div class="flex justify-center w-full pt-10 mb-5 md:pt-10 lg:pt-0">
	<a href="#top" title="scroll to top of page" role="button" aria-label="scroll to top of page" id="upArrow">
		<svg
			class="w-6 h-6 animate-bounce text-white dark:text-pale"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			viewBox="0 0 24 24"
			stroke="currentColor"
			width="24px"
			height="100%"
			role="img"
			aria-labelledby="upArrow"
		>
			<path d="M12 19V5M5 12l7-7 7 7"></path>
		</svg>
	</a>
</div>
